.NewItemForm {
    text-align: left;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    /* background-color: lightskyblue; */
}

.TextComp {
    padding: 5px;
    margin: 5px;
}

.ButtonComp {
    padding: 10px;
    margin: 5px;
}